<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="GoogleDistanceUrl" value="https://maps.googleapis.com/maps/api/distancematrix/json?" />
    <add key="key" value="AIzaSyCDY-xzyFJ43CvnjxmhTqVWxq94G_lzMt0" /> <!--Go to Google Distance Matrix API (https://developers.google.com/maps/documentation/distance-matrix/intro?hl=en) and get a key and insert here. This key will not work, and only kept here for representation purposes-->
    <add key="origins" value="Citi+Mall,+Phase+D+Shastri+Nagar,+Andheri+West+Mumbai,+Maharashtra+400102" />
    <add key="destinations" value="Bandra+Reclamation,+Mumbai,+Maharashtra" />
 
    
    <add key="UberX-Base" value="70"/>
    <add key="UberX-PerMinute" value="1"/>
    <add key="UberX-PerKM" value="10"/>
    <add key="UberX-IncludedKM" value="0"/>
    <add key="UberX-IncludedMin" value="0"/>
    <add key="UberX-Minimum" value="100"/>

    <add key="UberGo-Base" value="45"/>
    <add key="UberGo-PerMinute" value="1"/>
    <add key="UberGo-PerKM" value="8"/>
    <add key="UberGo-IncludedKM" value="0"/>
    <add key="UberGo-IncludedMin" value="0"/>
    <add key="UberGo-Minimum" value="60"/>


    <add key="UberBlack-Base" value="100"/>
    <add key="UberBlack-PerMinute" value="2"/>
    <add key="UberBlack-PerKM" value="17"/>
    <add key="UberBlack-IncludedKM" value="0"/>
    <add key="UberBlack-IncludedMin" value="0"/>
    <add key="UberBlack-Minimum" value="150"/>

    <add key="OlaPrime-Base" value="100"/>
    <add key="OlaPrime-PerMinute" value="1"/>
    <add key="OlaPrime-PerKM" value="13"/>
    <add key="OlaPrime-IncludedKM" value="4"/>
    <add key="OlaPrime-IncludedMin" value="5"/>
    <add key="OlaPrime-Minimum" value="100"/>

    <add key="OlaMini-Base" value="100"/>
    <add key="OlaMini-PerMinute" value="1"/>
    <add key="OlaMini-PerKM" value="11"/>
    <add key="OlaMini-IncludedKM" value="4"/>
    <add key="OlaMini-IncludedMin" value="5"/>
    <add key="OlaMini-Minimum" value="100"/>

    <add key="OlaEconomySedan-Base" value="100"/>
    <add key="OlaEconomySedan-PerMinute" value="1"/>
    <add key="OlaEconomySedan-PerKM" value="13"/>
    <add key="OlaEconomySedan-IncludedKM" value="4"/>
    <add key="OlaEconomySedan-IncludedMin" value="5"/>
    <add key="OlaEconomySedan-Minimum" value="100"/>

    <add key="MeruCabsDayTime-Base" value="27"/>
    <add key="MeruCabsDayTime-PerMinute" value="2"/>
    <add key="MeruCabsDayTime-PerKM" value="20"/>
    <add key="MeruCabsDayTime-IncludedKM" value="1"/>
    <add key="MeruCabsDayTime-IncludedMin" value="0"/>
    <add key="MeruCabsDayTime-Minimum" value="27"/>

    <add key="MeruCabsNightTime-Base" value="33.75"/>
    <add key="MeruCabsNightTime-PerMinute" value="2.5"/>
    <add key="MeruCabsNightTime-PerKM" value="25"/>
    <add key="MeruCabsNightTime-IncludedKM" value="1"/>
    <add key="MeruCabsNightTime-IncludedMin" value="0"/>
    <add key="MeruCabsNightTime-Minimum" value="33.75"/>

    <add key="EasyCabsDayTime-Base" value="27"/>
    <add key="EasyCabsDayTime-PerMinute" value="2"/>
    <add key="EasyCabsDayTime-PerKM" value="20"/>
    <add key="EasyCabsDayTime-IncludedKM" value="1"/>
    <add key="EasyCabsDayTime-IncludedMin" value="0"/>
    <add key="EasyCabsDayTime-Minimum" value="27"/>

    <add key="EasyCabsNightTime-Base" value="33.75"/>
    <add key="EasyCabsNightTime-PerMinute" value="2.5"/>
    <add key="EasyCabsNightTime-PerKM" value="25"/>
    <add key="EasyCabsNightTime-IncludedKM" value="1"/>
    <add key="EasyCabsNightTime-IncludedMin" value="0"/>
    <add key="EasyCabsNightTime-Minimum" value="33.75"/>

    <add key="MeruFlexi-Base" value="200"/>
    <add key="MeruFlexi-PerMinute" value="2.5"/>
    <add key="MeruFlexi-PerKM" value="20"/>
    <add key="MeruFlexi-IncludedKM" value="8"/>
    <add key="MeruFlexi-IncludedMin" value="0"/>
    <add key="MeruFlexi-Minimum" value="200"/>

    <add key="GenieDay-Base" value="99"/>
    <add key="GenieDay-PerMinute" value="2"/>
    <add key="GenieDay-PerKM" value="16"/>
    <add key="GenieDay-IncludedKM" value="4"/>
    <add key="GenieDay-IncludedMin" value="0"/>
    <add key="GenieDay-Minimum" value="99"/>

    <add key="GenieNight-Base" value="123.75"/>
    <add key="GenieNight-PerMinute" value="2.5"/>
    <add key="GenieNight-PerKM" value="20"/>
    <add key="GenieNight-IncludedKM" value="4"/>
    <add key="GenieNight-IncludedMin" value="0"/>
    <add key="GenieNight-Minimum" value="123.75"/>
    
    <add key="TaxiForSure_Hatchback-Base" value="59"/>
    <add key="TaxiForSure_Hatchback-PerMinute" value="1.5"/>
    <add key="TaxiForSure_Hatchback-PerKM" value="8"/>
    <add key="TaxiForSure_Hatchback-IncludedKM" value="2"/>
    <add key="TaxiForSure_Hatchback-IncludedMin" value="0"/>
    <add key="TaxiForSure_Hatchback-Minimum" value="59"/>
  
    <add key="TaxiForSure_Sedan-Base" value="75"/>
    <add key="TaxiForSure_Sedan-PerMinute" value="1.5"/>
    <add key="TaxiForSure_Sedan-PerKM" value="10"/>
    <add key="TaxiForSure_Sedan-IncludedKM" value="2"/>
    <add key="TaxiForSure_Sedan-IncludedMin" value="0"/>
    <add key="TaxiForSure_Sedan-Minimum" value="75"/>
    
    <add key="TaxiForSure_SUV-Base" value="99"/>
    <add key="TaxiForSure_SUV-PerMinute" value="1.5"/>
    <add key="TaxiForSure_SUV-PerKM" value="17"/>
    <add key="TaxiForSure_SUV-IncludedKM" value="2"/>
    <add key="TaxiForSure_SUV-IncludedMin" value="0"/>
    <add key="TaxiForSure_SUV-Minimum" value="99"/>
  
    <add key="KaliPeeli-Base" value="22"/>
    <add key="KaliPeeli-PerMinute" value="0"/>
    <add key="KaliPeeli-PerKM" value="14.84"/>
    <add key="KaliPeeli-IncludedKM" value="1.5"/>
    <add key="KaliPeeli-IncludedMin" value="0"/>
    <add key="KaliPeeli-Minimum" value="22"/>
    
    <add key="AutoRickshaw-Base" value="18"/>
    <add key="AutoRickshaw-PerMinute" value="1.2"/>
    <add key="AutoRickshaw-PerKM" value="12.19"/>
    <add key="AutoRickshaw-IncludedKM" value="1.5"/>
    <add key="AutoRickshaw-IncludedMin" value="0"/>
    <add key="AutoRickshaw-Minimum" value="18"/>
    
  
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>